{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
<h3 style="margin-top:30px;">Pending Classes</h3>
<hr>
<h4>Filtering</h4>
<a href="?pending_invoice=true"><button type="button" name="button">Pending Invoices</button></a>
<a href="?new_requests=true"><button type="button" name="button">New Requests</button></a>
<hr/>
<div class="row" style="margin-top:30px;">
        <table id="dashboard_table" class="table table-striped">
            <thead>
            <tr>
                <th>id</th>
                <th>Details</th>
                <th>Teacher</th>
                <th>PVT Sent Timestamp</th>
                <th>Student</th>
                <th>Email student</th>
                <th>Phone student</th>
                <th>IP student</th>
                <th>Class Request</th>
            </tr>
            </thead>
            <tbody>
            {% for object in object_list %}
            <tr>
                <td>{{ object.id }}</td>
                <td><a href="{% url 'classinfo_detail' object.pk %}">More+</a></td>
                <td>{{ object.teacher }}</td>
                <td>{{ object.pvt_send_timestamp }}</td>
                <td>{{ object.class_request.name }}</td>
                <td>{{ object.class_request.email}}</td>
                <td>{{ object.class_request.phone_number }}</td>
                <td>{{ object.class_request.ip_address }}</td>
                <td>{{ object.class_request.created_on }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
      </div>
{%endblock%}

{%block extra_scripts%}
<script type="text/javascript">
    $(document).ready(function() {
            $('#dashboard_table').DataTable();
    } );
</script>
{%endblock%}
