{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
<h3 style="margin-top:30px;">Pending Invoices</h3>
<hr>
<h4>Filtering</h4>
<div class="row">
<div class="col-md-5">
  <a href="?pending_invoice=true"><button type="button" name="button">Pending Invoices</button></a>
  <a href="?new_requests=true"><button type="button" name="button">New Requests</button></a>
</div>
<div class="col-md-7" style="float:right;display:inline;">
  <form action="." method="get">
    Initial date: <input type="date" name="date_start" value="" id="date_start">
    Ending date: <input type="date" name="date_end" value="" id="date_end" >
    <input type="submit" name="" value="Filter" id="date_filter" >
  </form>
</div>
</div>
<hr/>
<div class="row" style="margin-top:30px;">
        <table id="dashboard_table" class="table table-striped">
            <thead>
            <tr>
                <th>id</th>
                <th>Details</th>
                <th>Class id</th>
                <th>Success</th>
                <th>Timestamp</th>
            </tr>
            </thead>

            <tbody>
            {% for object in object_list %}
            <tr>
                <td>{{ object.invoice_id }}</td>
                <td><a href="{% url 'invoice_detail' object.pk %}">More+</a></td>
                <td><a href="{% url 'classinfo_detail' object.class_info_id %}">{{ object.class_info_id }}</a></td>
                <td>{{ object.success }}</td>
                    <td>{{ object.created_on|date:'Y-m-d G:i' }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
</div>
{%endblock%}

{%block extra_scripts%}
<script type="text/javascript">
    $(document).ready(function() {
            $('#dashboard_table').DataTable();
            $("#date_start").val(get("date_start"));
            $("#date_end").val(get("date_end"));

    } );
</script>
{%endblock%}
