{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}

{% include 'dashboard/cinfo_include.html' %}

<h2 style="margin-top:60px;">Invoice</h2>
<hr>
<table style="margin-top:30px;">
    <tr><th>ID</th><td>{{ object.invoice_id }}</td></tr>
    <tr><th>Success</th><td>{{ object.success }}</td></tr>
    <!--
    {% for link in object.invoice_json.links %}
        {% if link.rel in 'payer-view merchant-view' %}
            <tr><th>{{ link.rel }}</th><td><a href="{{ link.href }}">{{ link.href }}</a></td></tr>
        {% endif %}
    {% endfor %}
    -->
    <tr><th>payer_view_url</th><td><a href="{{ cached_inv.metadata.payer_view_url }}">{{ object.get_invoice.metadata.payer_view_url }}</a></td></tr>
    {% for payment in cached_inv.payments %}
        <tr><th>Payment</th><td>{{ payment }}</td></tr>
    {% endfor %}
    <tr><th>Send Reminder</th><td><a href="#">Send Reminder #TODO</a></td></tr>
    <tr><th>JSON</th><td><textarea rows=50 cols=50>{{ cached_inv }}</textarea></td></tr>
<table>
{%endblock%}
