{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
<h3 style="margin-top:30px;">Teachers</h3>
<hr>
<h4>Filtering</h4>
<div class="row">
<div class="col-md-9">
  <a href="?pending_invoice=true"><button type="button" name="button">Pending Invoices</button></a>
  <a href="?new_requests=true"><button type="button" name="button">New Requests</button></a>
</div>
<div class="col-md-3" style="float:right;">
  <form action="." method="get">
    <input type="date" name="date_start" value="" id="date_start">
    <input type="date" name="date_end" value="" id="date_end">
    <input type="submit" name="" value="Filter" id="date_filter">
  </form>
</div>
</div>
<hr/>
<div class="row" style="margin-top:30px;">
        <table id="dashboard_table" class="table table-striped">
            <thead>
            <tr>
                <th>id</th>
                <th>Details</th>
            </tr>
            </thead>

            <tbody>
            {% for object in object_list %}
            <tr>
                <td>{{ object.id }}</td>
                <td><a href="{% url 'teacher_detail' object.id %}">{{ object }}</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
      </div>
{%endblock%}

{%block extra_scripts%}
<script type="text/javascript">
    $(document).ready(function() {
            $('#dashboard_table').DataTable();
            $("#date_start").val(get("date_start"));
            $("#date_end").val(get("date_end"));

    } );
</script>
{%endblock%}
