{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
<h3 style="margin-top:30px;">Teachers</h3>
<hr>
<h4>Filtering</h4>
<a href="?pending_invoice=true"><button type="button" name="button">Pending Invoices</button></a>
<a href="?new_requests=true"><button type="button" name="button">New Requests</button></a>
<hr/>
<div class="row" style="margin-top:30px;">
        <table id="dashboard_table" class="table table-striped">
            <thead>
            <tr>
                <th>id</th>
                <th>Details</th>
            </tr>
            </thead>

            <tbody>
            {% for object in object_list %}
            <tr>
                <td>{{ object.id }}</td>
                <td><a href="{% url 'teacher_detail' object.id %}">{{ object }}</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
      </div>
{%endblock%}

{%block extra_scripts%}
<script type="text/javascript">
    $(document).ready(function() {
            $('#dashboard_table').DataTable();
    } );
</script>
{%endblock%}
