<html>
    <head>
        <script type="text/javascript" src="//code.jquery.com/jquery-1.11.3.min.js"></script>
        <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
        <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">

        <script type="text/javascript" charset="utf8"
src="/DataTables/datatables.js"></script>

        <script type="text/javascript">
            $(document).ready(function() {
                    $('#dashboard_table').DataTable();
            } );
        </script>
    </head>
    <body>

        <h1>Dashboard</h1>

        <h3>Navigation</h3>
        <ul>
            <li><a href="{% url 'dashboard_index' %}">Classes</a></td>
            <li><a href="#">Invoices</a></td>
        </ul>

        <h3>Filter</h3>
        <ul>
            <li><a href="?pending_invoice=true">Pending Invoices</a></li>
            <li><a href="?new_requests=true">New Requests</a></li>
        </ul>

        <hr>

        <h3>{{ object.teacher }}</h3>

        <table id="dashboard_table">
            <thead>
            <tr>
                <th>Class Details</th>
                <th>Success</th>
                <th>Invoice Details</th>
            </tr>
            </thead>

            <tbody>
            {% for cinfo_obj in classinfo_list %}
            <tr>
                <td><a href="{% url 'classinfo_detail' cinfo_obj.id %}">{{ cinfo_obj }}</a></td>
                <td>{{ cinfo_obj.success }}</td>
                {% if cinfo_obj.get_invoice %}
                    <td><a href="{% url 'invoice_detail' cinfo_obj.get_invoice.id %}">{{ cinfo_obj.get_invoice.invoice_id }}</a></td>
                {% else %}
                    <td>Invoice not sent</td>
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </body>
</html>
